<div id="mobileMenu" class="menuClosed">
  <div id="mobileTop">
    <a href="/"><img class="mobileLogo" src="dvsty-imgs/Cropped Logo.png" /></a>
    <h3 id="exitMenu" onclick="closeNav()"><a href="">X</a></h3>
  </div>
  <ul id="mobileNav">
    <li id="shopLi"><a href="">Shop</a></li>
    <li><a href="/consign">Consign</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>
