<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>You found an empty link</h3>
    <p>
      For this demo website, the only views are the homepage, Consign page, and
      Contact page.
    </p>
  </div>
</div>
