<div class="hideModal" id="modalPopup">
  <h3>This is an empty link :/</h3>
  <p>
    For this demo website, the only views are the homepage, Consign page, and
    Contact page.
  </p>
  <span class="close">&times;</span>
</div>
