<nav>
  <a href="/"><img class="logo" src="dvsty-imgs/Cropped Logo.png" /></a>
  <li id="shopLi"><a href="">Shop</a></li>
  <li><a href="/consign">Consign</a></li>
  <li><a href="/contact">Contact</a></li>
  <a href="javascript:void(0)"
    ><img
      id="menuIcon"
      onclick="openNav()"
      src="https://img.icons8.com/ios-filled/50/ffffff/menu--v1.png"
  /></a>
</nav>
