<nav>
  <img id="logo" src="dvsty-imgs/Cropped Logo.png" />
  <li><a href="">Men</a></li>
  <li><a href="">Women</a></li>
  <li><a href="">Art & Music</a></li>
  <li><a href="">Sale</a></li>
  <li><a href="">Consign</a></li>
  <li><a href="">Contact</a></li>
  <img
    id="menuIcon"
    src="https://img.icons8.com/ios-filled/50/ffffff/menu--v1.png"
  />
</nav>
