<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="consign.css">
    <link rel="stylesheet" type="text/css" href="navFooter.css">
    <link rel="stylesheet" type="text/css" href="modal.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../partials/navigation.ejs') %>
    <%- include('../partials/mobileNav.ejs') %>
    <%- include('../partials/modal.ejs') %>
    <div id='mainDiv'>
        <img src="dvsty-imgs/dvsty6.jpg">
        <div id='consignText'>
            <h2>Consign With Us</h2>
            <h3>We accept drop-offs every day between business hours 11PM-6PM and Sunday 12PM-5PM! </h3>
            <p>We are looking for in-season styles depending on the season. Name brand designer pieces as well as vintage styles are welcome.</p>

            <p>We offer a 30-day Consignment Period (meaning the clothing has 30 days to sell).  Consignment earnings are paid out by request after the 30 day period has ended.</p>
            
            <p>Item's priced over $100 are subject to a 50/50 split. Item's priced under $100 are subject to a 40/60 split. This includes vinyl records.</p>
            
            <p>Locally sourced artwork rate is set at 75/25 in favor of the artist.</p>
        </div>
    </div>

    <div id="contactDiv">
        <h2>Need More Information?</h2>
        <p>If you have any questions on consigning with DVSTY, don’t hesitate to reach out! We guarantee we will answer your question within 24 hours.</p>
        <button><a href='/contact'>Submit a Question</a></button>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script src='main.js'></script>
</body>
</html>