<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="contact.css" />
  <link rel="stylesheet" type="text/css" href="navFooter.css" />
  <link rel="stylesheet" type="text/css" href="modal.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bangers&family=Raleway&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <%- include('../partials/navigation.ejs') %> <%-
  include('../partials/mobileNav.ejs') %> <%- include('../partials/modal.ejs')
  %>
  <div id="contactDiv">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2950.4637278944206!2d-71.11684438454526!3d42.311306979190206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3796e9b700965%3A0xcac46a8c79d22ab8!2s713%20Centre%20St%2C%20Jamaica%20Plain%2C%20MA%2002130!5e0!3m2!1sen!2sus!4v1645989900122!5m2!1sen!2sus"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
    <div id="form">
      <h2>Have Questions or Concerns? Contact Us!</h2>
      <h3>
        We welcome questions or concerns on product availability, photoshoots,
        or the consignment process. We gurantee you will hear a response from
        DVSTY within 24 hours.
      </h3>
      <form>
        <label for="name">Enter Name: </label>
        <input type="text" name="Name" id="name" required />
        <label for="email">Enter Your Email Address: </label>
        <input type="email" name="Email" id="email" required />
        <label for="inquiry">Enter inquiry below: </label>
        <input type="text" name="Customer Inquiry" id="inquiry" required />
        <input
          onclick="openModal(event)"
          id="submitBtn"
          type="submit"
          value="Submit"
          required
        />
      </form>
    </div>
  </div>

  <div id="saleDiv">
    <h2>30% Off Blue Tag Items Until March 31st!</h2>
    <p>
      We have blue tags on vintage clothing, art, and music! Grab these rare
      pieces while they last.
    </p>
    <button onclick="openModal(event)"><a href="">Shop Sale Items</a></button>
  </div>

  <%- include('../partials/footer.ejs') %>
  <script src="main.js"></script>
</body>
