<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" type="text/css" href="navFooter.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../partials/navigation.ejs') %>
    <%- include('../partials/mobileNav.ejs') %>
    <div id="introDiv">
        <img id='img-1' src="dvsty-imgs/dvsty18.jpg"> 
        <div id="col2">
            <div>
                <h2>Vintage & Luxury Consignment Like You've Never Seen Before</h2>
                <button><a href="">Shop New Arrivals</a></button>
            </div>
            <img id='img-2' src="dvsty-imgs/dvsty1.jpg"> 
         </div>    
        </div>
        
        <div id="aboutDiv">
            <img class='oneImg' src="dvsty-imgs/dvsty17.jpg">
            <div>
            <h2>Boston's Premiere Consignment Experience</h2>
            <p><br>Located in the heart of Jamaica Plain on bustling Centre St. DVSTY is a community oriented consignment shop featuring curated men's, women's and unisex clothing, vinyl records, instruments and local artisan pieces. <br>
                <br>
            DVSTY is a must-see location in Boston and we have something for everyone, no matter who you are or what you’re looking for. Come to DVSTY if you’re ready for a different consignment experience.</p>
        </div>
        </div>
 

    <div id="shopDiv">
        <h2>Shop Our Selection</h2>
        <h3>We sell high-quality, long-lasting vintage and luxury pieces for all that can only be found at DVSTY, as well as music, instruments, and art.</h3>
        <div id="shop">
            <div id="shopRow1">
                <figure>
                    <a title='Shop Mens' href=''><img src="dvsty-imgs/dvsty9.jpg"></a>
                    <figcaption><a href=''>Mens</a></figcaption>
                </figure>
                <figure>
                    <a title='Shop Womens' href=''><img src="dvsty-imgs/dvsty15.jpg"></a>
                    <figcaption><a href=''>Womens</a></figcaption>
                </figure>
            </div>
            <div id="shopRow2">
                <figure>
                    <a title='Shop Art & Music' href=''><img src="dvsty-imgs/dvsty7.jpg"></a>
                    <figcaption><a href=''>Art & Music</a></figcaption>
                </figure>
                <figure>
                    <a title='Shop the Sales' href=''><img src="dvsty-imgs/dvsty5.jpg"></a>
                    <figcaption><a href=''>Sale</a></figcaption>
                </figure>
            </div>
            </div>
    </div>

    <div id="consignDiv">
            <img src='dvsty-imgs/dvsty2.jpg'>
            <div id="consignText">
                <h2>Interested in Consigning With Us?</h2>
                <p>Do you have pre-loved clothing that you are ready to let go of and want to make some extra cash? We’d love to chat with you!<br><br>We offer additional discounts and cash back for your vintage or luxury items, music, and artwork. Click below for details.</p>
                <button><a href=''>Learn More</a></button>
            </div>
            <img src="dvsty-imgs/dvsty12.jpg">
    </div>

    <div id="saleDiv">
        <h2>30% Off Blue Tag Items</h2>
        <p>We have blue tags on vintage clothing, art, and music! Shop now before the sale ends.</p>
        <button><a href=''>Shop Sale Items</a></button>
    </div>

    <div id="bpsDiv">
        <img class='oneImg' src="dvsty-imgs/bps.jpg">
        <p>10% of Sunday’s sales go to support BPS Art Expansion to help expand quality arts education within Boston Public Schools.<br>
        Thank you for shopping locally and supporting your community!</p>
    </div>
    
    <div id="photoshootDiv">
        <h2>Want to Model for DVSTY?</h2>
        <div id="photoshootImgs">
            <img src="dvsty-imgs/dvsty14.jpg">
            <img src="dvsty-imgs/dvsty11.jpg">
            <img src="dvsty-imgs/dvsty13.jpg">
        </div>
        <p>Schedule a photoshoot with us to model some of our vintage and luxury items. Just tag us @dvstyconsign and you’ll get a 10% off discount on your next purchase!</p>
        <button><a href=''>Schedule Your Photoshoot</a></button>
    </div>

    <div id="emailDiv">
        <h2>Want to Be the First to Know When a Sale Drops?</h2>
        <p>We’ll let you know about the newest sales on all vintage, luxury, art, and music. Don’t miss out!</p>
        <input id='emailInput' placeholder="Enter Your Email Address Here">
        <input id='submitBtn' type="submit" value="Submit">
    </div>

    <%- include('../partials/footer.ejs') %>
    <script src='main.js'></script>
</body>
</html>
