<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="process.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
    <div id="mainDiv">
        <div id="projectOverview">
            <!-- <img id='moodboard' src="DVSTY Moodboard.png"> -->
            <div id="problem">
                <h2>The Problem</h2>
                <h4>DVSTY’s current website does not adequately communicate the brand’s identity or desired messaging to its target audience as being Boston’s most unique consignment shop for luxury and vintage clothes, music, art. The current website does not reinforce the brand aesthetic that is being pushed through other channels, such as social media posts or advertising. The generic nature of DVSTY's current is working against the company's goal of becoming a well-established, must-see location in Boston for vintage and luxury enthusiasts. 
                </h4>
                <div id="currentWebsite">
                    <div>
                        <img src="dvsty-imgs/old-home.png">
                        <img src="dvsty-imgs/old-consign.png">
                    </div>
                    <div>
                        <img src="dvsty-imgs/old-gallery.png">
                        <img src="dvsty-imgs/old-contact.png">
                    </div>
                </div>
            </div>

            <div id="objective">
                <h2>Project Objective</h2>
                <h4>Redesign DVSTY’s website to create a central location for existing and potential customers to get a sense of the brand's identity, browse products, learn information about sales or promotions. This project's success will be based on the following metrics: </h4>
                <ol>
                    <li>At least a 10% increase in online sales</li>
                    <li>At least a 15% increase in repeat website visitors</li>
                    <li>At least a 5% increase in in-store sales</li>
                    <li>At least a 5% increase in customer consignment</li>
                </ol>
            </div>
            <div id="facts">
                <h2>The Facts</h2>
                <ul>
                    <li>Millennials and Gen Z, who make up a large amount of DVSTY's target demographic, may not have the money to purchase vintage or luxury items, even if it is secondhand.</li>
                    <li>DVSTY always has a sale, which gives the Millennial and Gen Z demographic an opportunity to purchase these items at a discount.</li>
                    <li>In addition to clothing, DVSTY offers artwork, vinyl records, musical instruments, and other miscellaneous items that are accessible to people with a variety of budgets. </li>
                    <li>DVSTY faces numerous competitors in the Boston Area; the primary competition is the Goodwill and Boomerang thrift stores that are right across the street. These are DVSTY's largest competitors, as both Goodwill and Boomerang offer secondhand clothing at a bargain price. Besides them, DVSTY competes with about five other consignment shops in Boston. These consignment shops cater only to women's luxury items.</li>
                </ul>
            </div>
            <div id="features">
                <h2>Features & Benefits</h2>
                <h4>In order to determine how to strategically cater to our target audience, it was necessary to get specific on the features and benefits associated with choosing to shop with DVSTY:</h4>
            </div>
            <div id="target">
                <h2>Target Audience</h2>
                <h4>DVSTY caters to a large audience, primarily between the ages of 16-65. More specifically, as a consignment store, DVSTY's target audience are those with an affinity for vintage and luxury items and those that want to make some money by allowing DVSTY to re-sell their vintage and luxury pieces. The other consignment stores in the Boston area tend to be particulary catered to women, so the intent is to make it clear that there is something for all genders for sale at DVSTY.</h4>
            </div>

            <div id="userPersonas">
                <h2>User Personas</h2>
                <h4>To narrow in on our target even further, we need to understand the underlying beliefs and behaviors of our target in order to better connect to them.</h4>
                <div id="personasContainer">
                    <div class="userSlide fade">
                        <iframe class='userPersona' style="border: 1px solid rgba(0, 0, 0, 0.1);" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FqpCVK1HuYkrbmZm0Z2Coad%2FDVSTY-User-Persona-1%3Fnode-id%3D0%253A1" allowfullscreen></iframe>
                        <p class="userText">User 1</p>
                    </div>
                    <div class="userSlide fade">
                        <iframe class='userPersona' style="border: 1px solid rgba(0, 0, 0, 0.1);" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FBfqVvWHu67tCKx4oHGHQrP%2FDVSTY-User-Persona-2%3Fnode-id%3D0%253A1" allowfullscreen></iframe>
                        <p class="userText">User 2</p>
                    </div>
                    <div class="userSlide fade">
                        <iframe class='userPersona' style="border: 1px solid rgba(0, 0, 0, 0.1);" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2F2ZOqK08Tt4g4Fwk0BWy59k%2FDVSTY-User-Persona-3%3Fnode-id%3D0%253A1" allowfullscreen></iframe>
                        <p class="userText">User 3</p>
                    </div>
                    <a class="backBtn" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="nextBtn" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <div>
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>
            
            <div id="uiProcess">
                <h2>User Interface Development Process</h2>
                <h4>The design for DVSTY's website needed to match the edgy and artsy vibe that can be seen inside the store, as well as on TikTok, Instagram, and Facebook. The website needed to be designed to strategically cater to the needs of the target audience, but it was necessary to start this process by narrowing down the basic elements the website needed to include.<br><br></h4>
                <div id="homeMockup">
                    <h3>Home Desktop Interface</h3>
                    <div id="homeDesktop">
                        <img class="desktopMockup" src="dvsty-imgs/Home -- MacBook Pro 16_ - 1.png">
                        <img class="desktopMockup" src="dvsty-imgs/Home High-Level -- MacBook Pro 16_ - 2.png">
                        <img class='desktopMockup' src="dvsty-imgs/Home Completed-- MacBook Pro 16_ - 3 (3).png">
                    </div>
                    <h3>Home Mobile Interface</h3>
                    <div id="homeMobile">
                        <img class='mobileMockup' src="dvsty-imgs/Home -- iPhone 13 Pro Max - 1.png">
                        <img class='mobileMockup' src="dvsty-imgs/Home -- iPhone 13 Pro Max - 2.png">
                        <img class='mobileMockup' src="dvsty-imgs/Home -- iPhone 13 Pro Max - 3 (3).png">
                    </div>
                </div>
                <div id="consignMockup">
                    <h3>Consignment Desktop Interface</h3>
                    <div id="consignDesktop">
                        <img class='desktopMockup' src="dvsty-imgs/Consign -- MacBook Pro 16_ - 1 (1).png">
                        <img class='desktopMockup' src="dvsty-imgs/Consign -- MacBook Pro 16_ - 2.png">
                        <img class='desktopMockup' src="dvsty-imgs/Consign -- MacBook Pro 16_ - 3.png">
                    </div>
                    <h3>Consignment Mobile Interface</h3>
                    <div id="consignMobile">
                        <img class='mobileMockup' src="dvsty-imgs/Consign -- iPhone 13 Pro Max - 1.png">
                        <img class='mobileMockup' src="dvsty-imgs/Consign -- iPhone 13 Pro Max - 2.png">
                        <img class='mobileMockup' src="dvsty-imgs/Consign -- iPhone 13 Pro Max - 3.png">
                    </div>
                </div>
                <div id="contactMockup">
                    <h3>Contact Dekstop Interface</h3>
                    <div id="contactDesktop">
                        <img class='desktopMockup' src="dvsty-imgs/Contact -- MacBook Pro 16_ - 2.png">
                        <img class='desktopMockup' src="dvsty-imgs/Contact -- MacBook Pro 16_ - 3.png">
                        <img class='desktopMockup' src="dvsty-imgs/Contact -- MacBook Pro 16_ - 4.png">
                    </div>
                    <h3>Contact Mobile Interface</h3>
                    <div id="contactMobile">
                        <img class='mobileMockup' src="dvsty-imgs/Contact -- iPhone 13 Pro Max - 2.png">
                        <img class='mobileMockup' src="dvsty-imgs/Contact -- iPhone 13 Pro Max - 3.png">
                        <img class='mobileMockup' src="dvsty-imgs/Contact -- iPhone 13 Pro Max - 4.png">
                    </div>
                </div>
            </div>
       </div>

        <div id='navigation'>
            <img id='logo' src="dvsty-imgs/Cropped Logo.png" />
            <div id="links">
                <li><a href='#ux-process'>UX Process</a></li>
                <li><a href='#ui-process'>UI Process</a></li>
                <li><a href='/'>Final Website</a></li>
            </div>
            <h3>Link to blakelydigitalco</h3>
        </div>
    </div>
    <script src="process.js"></script>
</body>
<footer></footer>
</html>
<!-- 
            <div id="message">
                <h2>The Customer's Message</h2>
                <h4>We want the customer to receive the following messages after completion of this project:</h4>
                <ul>
                    <li>DVSTY has the most unique collection of vintage and luxury items in the Boston area.</li>
                    <li>This store is a must-see location for both locals and tourists.</li>
                    <li>People of varying demographics are welcome to come to DVSTY to find pieces that speak to their true selves.</li>
                </ul>
            </div> -->