@media only screen and (min-width: 320px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  button {
    background-color: #e54616;
    border: 1px solid #e54616;
    border-radius: 2.5px;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  button a {
    font-family: "Raleway", sans-serif;
    color: black;
    padding: 2%;
    text-decoration: none;
  }
  #saleDiv button {
    background-color: white;
    border: 1px solid white;
    border-radius: 2.5px;
  }
  #introDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 5%;
  }
  #img-1 {
    max-width: 100vw;
    width: 100%;
    height: auto;
  }
  #img-2 {
    display: none;
  }
  h3 {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
  }
  h2 {
    font-family: "Bangers", cursive;
    font-size: 40px;
    text-align: center;
    padding-top: 2%;
    margin: 0;
  }
  #aboutDiv,
  #consignDiv,
  #shop,
  #shopRow1,
  #shopRow2,
  #saleDiv,
  #photoshootDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2%;
  }
  #aboutDiv p,
  #consignDiv p,
  #saleDiv p,
  #photoshootDiv p,
  #emailDiv p {
    font-size: 15px;
    line-height: 30px;
    padding-left: 2%;
    padding-right: 2%;
    font-family: "Raleway", sans-serif;
  }
  #bpsDiv p {
    color: white;
    font-size: 16px;
    line-height: 30px;
    padding-left: 2%;
    padding-right: 2%;
    font-family: "Raleway", sans-serif;
  }

  #emailInput {
    width: 40vw;
  }
  #shopDiv,
  #emailDiv {
    border: 20px solid black;
    text-align: center;
    padding-bottom: 2%;
  }
  #submitBtn {
    background-color: #e54616;
    border: 1px solid #e54616;
    border-radius: 2.5px;
  }
  figure {
    margin: 2%;
  }
  figcaption a {
    font-family: "Raleway", sans-serif;
    color: black;
    text-decoration: none;
  }
  #bpsDiv {
    background-color: black;
    text-align: center;
    padding: 3%;
  }
  #saleDiv {
    background-color: #4e639e;
    text-align: center;
    padding: 1%;
  }

  #shop img,
  #consignDiv img {
    max-width: 80vw;
    width: 100%;
    height: auto;
  }

  #photoshootDiv img {
    max-width: 30vw;
    width: 100%;
    height: auto;
  }
  .oneImg {
    max-width: 80vw;
    width: 100%;
    height: auto;
  }
  .hideModal {
    display: none;
  }
  #modalPopup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

@media only screen and (min-width: 768px) {
  #introDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 5%;
  }
  #col2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #img-1 {
    max-width: 55vw;
    width: 100%;
    height: auto;
  }
  #img-2 {
    display: block;
    max-width: 40vw;
    width: 100%;
    height: auto;
  }
  #aboutDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  #consignDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2%;
  }
  #consignText p {
    text-align: center;
    width: 35vw;
    margin-right: 5%;
  }

  #aboutDiv p {
    text-align: center;
    width: 50vw;
    font-size: 20px;
    margin: 0;
  }
  #bpsDiv p {
    color: white;
    font-size: 16px;
  }
  #shopRow1,
  #shopRow2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #shop img,
  #consignDiv img {
    max-width: 30vw;
    width: 100%;
    height: auto;
  }
  #photoshootImgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #emailInput {
    width: 15vw;
  }
  .oneImg {
    max-width: 30vw;
    width: 100%;
    height: auto;
  }
  .hideModal {
    display: none;
  }
}
