@media only screen and (min-width: 320px) {
  .logo {
    width: 200px;
    max-width: 100%;
    height: auto;
  }
  .mobileLogo {
    width: 400px;
    max-width: 100%;
    height: auto;
  }
  #menuIcon {
    display: block;
    max-width: 50px;
    width: 100%;
    height: auto;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-right: 5%;
  }
  nav li {
    display: none;
  }

  #mobileTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #exitMenu {
    color: white;
  }
  ul li {
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    line-height: 70px;
    border-bottom: 5px solid white;
    width: 50vw;
  }
  ul li a {
    color: white;
    text-decoration: none;
  }
  .menuClosed {
    display: none;
  }
  .menuOpen {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.8s;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-bottom: 2%;
  }
  #info h5 {
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: white;
  }
}
@media only screen and (min-width: 768px) {
  footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  nav li {
    display: block;
    font-size: 17px;
    font-family: "Raleway", sans-serif;
    padding-right: 2%;
  }
  nav li a {
    border: 2px solid black;
    color: white;
    text-decoration: none;
    padding: 10%;
  }
  nav li a:hover {
    border: 2px solid white;
    border-radius: 2.5px;
    padding: 10%;
  }
  #menuIcon {
    display: none;
  }
}
