body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
/* Navigation */
#navigation {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  width: 100vw;
  z-index: 1;
}
#navigation li {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
#navigation li a,
#navigation h3 {
  color: white;
  text-decoration: none;
  list-style-type: none;
}
#logo {
  width: 14vw;
}
/* End of Navigation */

#mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#projectOverview {
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 10px solid black;
}

#objective,
#facts,
#features,
#target,
#userPersonas,
#uiProcess {
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 10px solid black;
}
h2,
h2 a {
  font-family: "Bangers";
  font-size: 32px;
  color: #4e639e;
}
h3 {
  font-family: "Bangers";
  font-size: 27px;
  color: black;
}
h4 {
  font-family: "Raleway", sans-serif;
  float: center;
  line-height: 30px;
}
ul li,
ol li {
  font-family: "Raleway", sans-serif;
  line-height: 30px;
}
#currentWebsite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#currentWebsite img {
  max-width: 40vw;
  width: 100%;
  height: auto;
  border: 5px solid black;
}
#personasContainer,
#mockupsContainer {
  position: relative;
  margin: 0;
}

.userSlide,
.mockupSlide {
  display: none;
}
.userDot {
  text-align: center;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  transition: background-color 0.6s ease;
}
.userBackBtn,
.userNextBtn,
.mockupBackBtn,
.mockupNextBtn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #4e639e;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.userNextBtn,
.mockupNextBtn {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.active,
.userDot:hover {
  background-color: #717171;
}
.mockupRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 5%;
}
.userPersona {
  max-width: 80vw;
  width: 100%;
  height: auto;
}
.desktopMockup,
.mobileMockup {
  max-width: 25vw;
  width: 100%;
  height: auto;
  padding-left: 2%;
  padding-right: 2%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#final {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 5%;
}
#moodboard {
  max-width: 50vw;
  width: 100%;
  height: auto;
}
